DATABASE_URL="postgresql://postgre:postgre@postgre:5432/postgre?schema=public"
JWT_SECRET="this-is-secret"

POSTGRES_PORT=5432
POSTGRES_DB=postgre
POSTGRES_USER=postgre
POSTGRES_PASSWORD=postgre
PGDATA=/var/lib/postgresql/data/all